.education {
    width: 80%;
    margin: 0 auto;
    height: 500px;
    display: flex;
    margin-bottom: 100px;

    .div5 {
        width: 45%;
        height: 100%;
        margin-right: 250px;

        img {
            height: 100%;
            border-radius: 20px;
        }
    }

    .div6 {
        width: 55%;

        h2 {
            color: #FF6B00;
            margin-top: 20px;
        }

        h3 {
            margin-top: 20px;
            font-size: 30px;
            font-weight: 800;
        }

        p {
            margin-top: 30px;
            font-size: 18px;
            font-weight: 500;
        }

        h4 {
            margin-top: 40px;
            font-size: 30px;
            color: #1C3F3A;
            font-weight: 900;
        }
    }
}